<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChocolateBox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1CDE14981D03D9620072759B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CDE14AF1D03D9650072759B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CDE14BA1D03D9650072759B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
